:root {
  --color-orange--: #d97652;
  --text-14--: 0.875rem;
  --text-16--: 1rem;
  --text-18--: 1.125rem;
  --text-24--: 1.5rem;
  --text-36--: 2.25rem;
  --text-48--: 3rem;
}
/* header 시작----------------------------- */

/* 웹에서 숨김 */
.dis-768-none {
  display: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

/* 헤더 로고&메뉴 */
.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 31px 0;
  max-width: 1280px;
  margin: auto;
}

.header-nav > a img {
  width: 130px;
}

.header-nav > nav ul {
  display: flex;
  gap: 30px;
}

.header-nav nav ul li {
  align-content: center;
}

/* 헤더 메뉴안에 버튼 */
.header-nav nav ul li button {
  color: #fff;
  font-size: var(--text-16--);
  font-weight: 700;

  background-color: var(--color-orange--);
  border: none;
  border-radius: 40px;
  padding: 15px 30px;
}

/* 헤더 텍스트 영역 */
.header-text-area {
  text-align: left;

  max-width: 1280px;
  margin: auto;
  position: relative;
  z-index: 2;
  padding: 0 20px;
  padding-top: 200px;
}

.header-text-area .header-text-bold {
  font-size: var(--text-48--);
  font-weight: 700;
  line-height: 60px;
}

.header-text-area .header-text-description {
  font-size: var(--text-16--);
  font-weight: 400;
  padding: 40px 0;
  line-height: 20px;
}

/* 웹용 문단 나누기 */
.header-text-area .header-text-bold em:nth-child(2),
.header-text-area .header-text-description span {
  display: inline;
}

/* 헤더 버튼 */
div.btn-download .btn-orange {
  color: #fff;
  font-size: var(--text-16--);
  font-weight: 700;

  background-color: var(--color-orange--);
  padding: 15px 30px;
  border-radius: 40px;
  border: none;
}

/* 헤더 이미지 */
.header-img {
  display: flex;
  justify-content: right;
  margin-top: -500px;

  position: relative;
  z-index: -1;
}

.header-img img {
  width: 415px;
  padding-top: 30px;
}
/* header 끝----------------------------- */

/* main 컨텐츠 시작----------------------------- */
main {
  padding: 40px 32px;
  z-index: 2;
  position: relative;
  margin-top: -125px;
  background-color: #fff;
  overflow: hidden;
}

main section {
  max-width: 1280px;
  margin: auto;
}

/* 첫번째 컨텐츠 시작 */
main section .contain-first {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}

/* 첫번째 컨텐츠 이미지 */
.contain-first > img {
  width: 660px;
  height: 390px;
  object-fit: cover;
  object-position: 0 -87px;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0px #00000040;
}

@media screen and (max-width: 1334px) {
  .contain-first > img {
    object-position: 0 0;
    object-fit: contain;
  }
}

/* 첫번째 컨텐츠 텍스트 영역 */
.first-area-text {
  margin-left: 110px;
}
.first-area-text .first-text-bold {
  font-size: var(--text-36--);
  font-weight: 700;
  line-height: 45.07px;

  padding-top: 40px;
  width: 510px;
}

.first-area-text .first-text-description {
  font-size: var(--text-16--);
  line-height: 20px;

  width: 510px;
  padding-top: 30px;
}

/* 두번째 컨텐츠 시작 */
.contain-second {
  text-align: center;
}

.second-area-text .second-text-point {
  font-size: var(--text-48--);
  font-weight: 700;
  line-height: 60px;
  color: var(--color-orange--);

  padding: 40px 0;
  margin-top: 80px;
}
.second-text-description {
  margin-bottom: 48px;
}
.second-area-text p > span {
  display: inline;
}

.second-area-img {
  display: flex;
  gap: 70px;
  justify-content: space-between;
  overflow: visible;

  width: 100%;
  height: 378px;
  padding: 40px 0;
}
.contain-second .img-area > img {
  border-radius: 18px;
  box-shadow: 10px 10px 20px 0px #00000040;
}

/* 세번째 컨텐츠 시작 */
.contain-third {
  font-size: 1rem;

  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contain-third p > span {
  display: inline;
}
.third-button > button {
  width: 147px;
  height: 50px;
}

/* 폼 섹션 */
form {
  color: #fff;

  max-width: 1280px;
  box-sizing: border-box;

  background-color: #263140;
  border-radius: 18px;
  padding: 50px 58px;
  margin: auto;

  display: flex;
  justify-content: space-between;
}

.form-title {
  font-size: var(--text-36--);
  font-weight: 700;
  line-height: 30px;

  margin-top: 2px;
  margin-bottom: 20px;
  padding: 0 0;
}

.form-title > span {
  display: inline;
}

.form-descrition {
  color: #f2e9d8;
  font-size: var(--text-14--);
  line-height: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
}

/* 폼 input */
.form-input {
  width: 530px;
  display: flex;
  align-items: center;
  position: relative;
}

.form-input .input-email {
  width: 100%;
}

.form-input input {
  width: calc(100% - 68px);
  padding: 20px 0 20px 68px;
  border-radius: 60px;
  border: none;

  font-size: 1rem;
}

.form-input input::placeholder {
  position: absolute;
  left: 68px;
}

.form-input .input-email img {
  width: 24px;
  position: absolute;
  padding: 18px 16px 18px 28px;
}

.btn-subscribe {
  position: absolute;
  right: 0;
  margin-right: 5px;
  margin-top: 0;
}

.btn-subscribe > button {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;

  background-color: var(--color-orange--);
  border: none;
  border-radius: 40px;
  padding: 15px 29px;
}

/* 뒷배경 */
.bg-cat {
  width: 100vw;
  height: 340px;
  background-image: url(./src/img_5.jpg);
  background-position: 0 35%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2e9d8;

  opacity: 60%;
  margin-top: -96px;
  margin-left: -32px;
  z-index: -999;
}

/* footer */
footer {
  max-width: 1280px;
  margin: auto;
  padding: 40px 0;
}

.footer-area {
  display: flex;
  justify-content: space-between;
}

.logo > a > img {
  width: 226px;
}

footer ul {
  display: none;
}

.footer-social {
  float: right;
  margin-top: -60px;
}

.footer-social .social {
  display: flex;
  gap: 16px;
  margin-top: 0;
}
.footer-social > ul > li {
  width: 42px;
  height: 42px;
}
.footer-social > ul > li > a {
  display: flex;
  justify-content: center;
}
.footer-social > ul > li > a img {
  width: 24px;
}

aside.btn-top {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 999;
}

aside.btn-top a img {
  width: 50px;
  height: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 50%;

  background-color: #fff;
  background-image: url(./src/top-btn.svg);
  background-position: center;
  opacity: 80%;
}
